@charset 'utf-8';

$spinner-sizes: (
  sm: '16px',
  md: '24px',
  lg: '32px',
);

.c-spinner {
  @each $size, $value in $spinner-sizes {
    &--#{$size} {
      width: #{$value};
      height: #{$value};
    }
  }
}
