@charset 'utf-8';

:root {
  --color-brand-hue: 247;
  --color-brand-saturation: 74%;
  --color-brand-lightness: 63%;

  --color-brand: hsl(
    var(--color-brand-hue) var(--color-brand-saturation)
      var(--color-brand-lightness)
  );
  --color-secondary: hsl(
    var(--color-brand-hue) var(--color-brand-saturation) 35%
  );

  --color-white: hsl(0 0% 98%);
  --color-white-accent: hsl(0 0% 96%);

  --color-black: hsl(0 0% 10%);
  --color-black-accent: hsl(0 0% 16%);

  --color-gray: hsl(0, 0%, 75%);

  --color-text: var(--color-black);
  --color-background-document: var(--color-white);
}

:root.dark {
  --color-text: var(--color-white);
  --color-background-document: var(--color-black);
}
