@charset 'utf-8';

:root {
  --space-m: 1rem;

  --viewport-height: 100dvh;
  --max-viewport-height: var(--viewport-height);
  --viewport-width: 100dvw;
  --max-viewport-width: var(--viewport-width, 100vw);

  --max-width-for-article: 70ch;

  --radius-default: 4px;
  --radius-small: 2px;
  --radius-medium: var(--radius-default);
  --radius-large: 6px;
}
