@charset 'utf-8';

ul,
li {
  align-items: center;
  column-gap: var(--space-m);
  display: flex;
  list-style-type: none;
}

menu,
ul,
li {
  padding-inline: 0;
}

::marker {
  color: var(--color-secondary);
}
